<footer class="footer-wrapper">
    <div>
        <p>Made with <span style="color: #144EE3;">&hearts;</span> by <span
                style="color: #144EE3;font-weight:700">
                Aniket Gupta </span></p>
    </div>
</footer>


<!--  -->

</div>


</body>

</html>