<%-include('header.ejs')  %>

        <section class="hero-wrapper">
            <h1 class="hero-header">Shorten Your Long Links</h1>
            <p>ShortHTTP is an efficient and easy-to-use URL shortening service that streamlines your
                online experience.</p>
        </section>

        <section class="url-form">

            <form action="/url/generateUrl" method="post">
                <input type="url" name="url" id="redirectUrl" autocomplete="off">
                <button class="url-submit button" type="submit">Shorten Now!</button>
            </form>
        </section>

        <div class="dashboardbtn">

            <a href="/url/dashboard"><button class="button" type="submit">Dashboard</button></a> 
        </div>
        

       



       <%- include("footer.ejs") %>