* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --dark-color: #0B101B;
    --brand-primary-blue: #144EE3;
    --brand-primary-pink: #EB568E;
    --grey: #181E29;
    --lite: #C9CED6;


}

h1 {
    font-size: 3.5rem;
}

body {
    background-color: var(--dark-color);
    color: white;
}

body.light {
    background-color: white;
    color: #181E29;
}

.main-wrapper {
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--dark-color);
}

.header-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 4rem;
    overflow: hidden;
}

.header-wrapper i {
    cursor: pointer;
}

#logo {
    min-width: fit-content;
    max-width: 150px;
    padding: 5px;
    font-weight: 800;
    background: linear-gradient(to right, #144EE3, #EB568E);
    background-clip: text;
    color: transparent;
    font-size: 1.2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    margin: 8px;
    padding: 0 15px;
    flex-wrap: nowrap;
}

.nav-button-wrapper {
    flex: 1;
    display: flex;
}

.button {
    max-width: fit-content;
    min-width: 70px;
    display: inline-block;
    padding: 8px 12px;
    margin: auto 8px;
    border-radius: 2rem;
    outline: none;
    border: none;
    box-shadow: 3px 3px 8px var(--grey);
    cursor: pointer;
    font-weight: 700;
}

.button span i {
    color: var(--brand-primary-blue);
    margin: 5px;
}

.signup {
    min-width: 80px;
    background-color: #144EE3;
    box-shadow: 2px 2px 4px var(--brand-primary-blue);
    color: white;
}

.signup span i {
    color: var(--lite);
}

.hero-wrapper,
.url-form {
    padding: 1.5rem;
    max-width: 700px;
    margin: 1.8rem auto;
    text-align: center;
}

.hero-header {
    background: linear-gradient(to right, #144EE3, #EB568E, #144EE3);
    background-clip: text;
    color: transparent;
    margin: 20px auto;
}

.url-form form {
    width: 100%;
    min-width: 280px;
    height: 3.5rem;
    border: 2px solid var(--brand-primary-blue);
    border-radius: 2rem;
    display: flex;
    background-color: var(--grey);
    color: inherit;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.url-form form{
    padding-right: 0;
}
#redirectUrl {
    display: block;
    outline: none;
    border: none;
    flex: 1;
    background-color: inherit;
    border-radius: 2rem;
    color: inherit;
    padding: 18px;
}

#redirectUrl::placeholder {
    padding: 0 15px;
    background-color: inherit;
}

.url-submit {
    min-width: fit-content;
    height: 80%;
    font-size: 12px;
    background-color: #144EE3;
    color: inherit;
    margin: 0 20px;
}

.shortlinks_table {

    min-width: 300px;
    max-width: 900px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    background: transparent;
}


.row {
    display: flex;
    flex-wrap: nowrap;
    max-width: 95%;
    gap: 8px;
    height: 50px;
    padding: 15px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--grey);
    
}


.outer-col-wrapper{
    min-width: 50%;
    max-width: 50%;
    padding: 8px;
    overflow-x: scroll;
}


.row ::-webkit-scrollbar {
    display: none;
}
.del-btn{
    min-width: fit-content;
    padding: 3px 3px;
    min-height: 25px;
    margin: 0 5px;
}
.footer-wrapper {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #181E29;
    position: sticky;
    bottom: 0px;
    margin-top: 3rem ;
}



@media (max-width:400px) {

    .signup,
    .login {
        font-size: 8px;
        margin: auto 4px;
    }

    .shortlinks_table {
        font-size: 9px;
    }
}

.copiesmsg{
    position: absolute;
    z-index: 2;
    margin: 0 2rem;
    padding:5px 10px;
    background-color: green;
    border-radius: 12px;
    transition: all 1s;
    display: none;
}

.form-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}

.form-inner-wrapper{
    background-color: white;
    color: #181E29;
    min-width: 300px;
    max-width: 300px;
    min-height: 500px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    gap: 20px;

}

.form-inner-wrapper label{
    color: #181E29;
    padding: 12px 0;
    font-weight: 700;
}
.form-inner-wrapper input{
    width: 100%;
    height: 2.5rem;
    padding: 15px;
    margin: 1rem 0;
    outline-color: #144EE3;
    outline-offset: 5px;
    border-radius: 2rem;
    border: none;
    background-color: #C9CED6;

}
.form-inner-wrapper button{
    margin: 12px 0;
    padding: 10px 30px;
    background-color: #144EE3;
    color: white;
}

.url-form-dashboard{
    min-width: 280px;
    max-width: 600px;
    margin: auto auto;
}
.url-form-dashboard form{
    margin: auto;
}

.dashboardbtn{
    text-align: center;
}
.dashboardbtn button{
    width: 150px;
    background-color: #144EE3;
    color: white;
}